{% extends 'base.html' %}

{% block add_quote %}
<form action="/add_quote" method="post" accept-charset="utf-8">
<div class="row">
    <div class="form-group col-xs-7">
        <label for="author_select">Select author</label>
        <select class="form-control" id="author_select" name="author">
            {% for author in all_authors %}
            <option>{{ author.fullname }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-7">
        <label for="quote_description">Enter Quote Text</label>
        <textarea class="form-control" id="quote_description" rows="4" name="description"></textarea>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-7">
        <label for="tags_select">Choose tags (multiple)</label>
        <select multiple class="form-control" id="tags_select" name="tags">
            {% for tag in all_tags %}
            <option>{{ tag.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<input type="submit" value="Add Quote" class="btn btn-primary"/>
</form>
{% endblock %}